
.movie-card {
  display: flex;
  height: 250px;
  flex-shrink: 0;
}

.movie-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-card-buttons {
  display: flex;
  flex-direction: row;
}
.movie-poster {
  width: unset !important;
  object-fit: contain !important;
}

.movie-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movie-details {
	display: flex;
	align-items: center;
	gap: 4px;
}

.movie-overview {
  overflow: hidden;
  overflow-y: auto;
}

.trailer-link {
	text-decoration: none;
	display: flex;
	align-items: center;
  color: black;
}

.trailer-link:hover {
	color: #ff0000;
}
